@font-face {
    font-family: Urbanist;
    src: url(/public/Fonts/Urbanist-Bold.ttf);
}

.conteiner-nav{
    display: flex;
    justify-content: flex-end;
    margin-right: 202px;

;
}
.nav{
    
    justify-content: space-between;
    margin: 24px;
    font-size: 40px;
    font-family: Urbanist, sans-serif;
    font-weight: 700px;
    text-align: center;
}



